{% extends 'base_2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav_item %}

<body class="sub_page">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'book' %}">Book Table</a>
  </li>

{% endblock %} {% block content %}
<div class="login-page">
    <div class="container">
      <div class="form">
        <h2>Change Password</h2>
        <p class="message">
          Enter your new password below.
        </p>
        <form method="post">
          {% csrf_token %} {{ form | crispy }}
          <div class="btn-box">
            <button type="submit" class="submit-btn">Change password</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
</body>
