{% extends 'base_2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav_item %}
<body class="sub_page">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'book' %}">Book Table</a>
  </li>

{% endblock %} {% block content %}
<div class="login-page">
      <div class="container">
        <div class="form">
          <p>
            We have sent you an email with instructions for setting your password if an account exists with the email you entered. You should receive it shortly.
          </p>
        </div>
    </div>
  </div>

{% endblock %}
</body>