{% extends 'base_2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav_item %}
<body class="sub_page">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'book' %}">Book Table</a>
  </li>

{% endblock %} {% block content %}

  <div class="container">
    <div class="login-page">
      <div class="form">
        <p>
          Your password has been set. You may go ahead and log in now.
        </p>
        <div class="btn-box">
          <a href = "{% url 'login' %}" class="submit-btn">Login</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
</body>