<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block nav_item %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'menu' %}">Menu</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'book' %}"
    >Book Table<span class="sr-only">(current)</span></a
  >
</li>
{% endblock %} {% block content %}
<body class="sub_page">
  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>Book A Table</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="">
              <div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Name"
                />
              </div>
              <div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                />
              </div>
              <div>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email"
                />
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>Event type </option>
                  <option value="">Birthday</option>
                  <option value="">Party</option>
                  <option value="">Other</option>
                </select>
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>How many persons?</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                </select>
              </div>
              <div>
                <input type="date" class="form-control" />
              </div>
              <div>
                <input type="time" class="form-control" />
              </div>
              <div class="btn_box">
                <button>Book Now</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->
</body>
{% endblock %}
