<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block nav_item %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'menu' %}">Menu</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'book' %}"
    >Book Table<span class="sr-only">(current)</span></a
  >
</li>
{% endblock %} {% block content %}
<body class="sub_page">
  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>Book A Table</h2>
        {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form method="post" action="{% url 'book' %}">
              {% csrf_token %}
              <div>{{form.name}}</div>
              <div>{{form.phone}}</div>
              <div>{{form.email}}</div>
              <div>{{form.event}}</div>
              <div>{{form.people}}</div>
              <div>{{form.date}}</div>
              <div>{{form.time}}</div>
              <div class="btn-box">
                <input class="submit-btn" type="submit" value="Book Now" />
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->
</body>
{% endblock %}
